body {
    font-family: Arial;
    padding: 20px;
}

.container {
    display: flex;
    gap: 30px;
}

.panel {
    width: 45%;
}

textarea {
    width: 100%;
    height: 150px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    padding: 6px;
    margin: 4px 0;
    cursor: grab;
}

.hl7 {
    background: #f9f9f9;
}

.hl7.dragover {
    background: #c8ffc8;
}
